/* Occurrence Pattern selection */
.panel-pane-scheduler-settings-form .form-item-settings-duration-type,
.panel-pane-scheduler-settings-form .form-item-settings-pattern {
  display: inline;
  margin-bottom: 1em;
}

.panel-pane-scheduler-settings-form .form-item-settings-duration-type label.option,
.panel-pane-scheduler-settings-form .form-item-settings-pattern label.option {
  margin-right: 1em;
}

#edit-settings-duration-type {
  margin-bottom: 1em;
}

/* Generic form elements */
.panel-pane-scheduler-settings-form .form-item.form-type-textfield,
.panel-pane-scheduler-settings-form .form-item.form-type-textfield > label,
.panel-pane-scheduler-settings-form .form-item.form-type-select,
.panel-pane-scheduler-settings-form .form-item.form-type-select > label {
  display: inline;
}

/* Weekly pattern weekday checkboxes */
.panel-pane-scheduler-settings-form .form-item.form-type-checkboxes.form-item-settings-weekly-days .form-item {
  display: inline;
  margin-right: 1.5em;
}
